<div class="footer">
  <div class="footer-links">
    <div class="logo"><%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= cl_image_tag "logo.png", height: 50 %>
    <% end %>
  </div>

    <!-- <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-links">
    <h3>Connect with:</h3>
    <a href="https://www.facebook.com/RioTacosCo/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/riotacos_co/?hl=en" traget="_blank"><i class="fab fa-instagram"></i></a>
  <!--   This footer is made with <i class="fa fa-heart"></i> at Le Wagon -->
  </div>
</div>
