<div class="home-wrapper">

<div id="carousel-food" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= cl_image_tag('tacos.png', :width=>1600, :crop=>"scale") %>
    </div>
    <div class="item">
      <%= cl_image_tag("salad.jpg", :width=>1600, :crop=>"scale") %>
    </div>
  </div>
  </div>
</div>
