.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
  padding-left: 10px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  font-color: white;
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links h3 {
  color: white;
  padding: 0px 10px;
  text-align: center;
  margin: 0px !important;
  font-size: 18px;
}
.footer-links a:hover {
  opacity: .5;
}
.footer .fa-heart {
  color: #D23333;
}

